.root{
    -fx-background-image: url("background.jpg");
}
.anchorPane{
    -fx-background-image: url("background.jpg");
}

.button {
    -fx-font-family: 'Raleway Medium';
    -fx-text-fill: #F6F4EE;
    -fx-font-size: 100%;
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 10;
    -fx-border: 0;
    -fx-background-color: linear-gradient(to bottom, #003049, #134074);
    /*-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #003049, #134074);*/

}

.label{
    -fx-text-fill: #ffffff;
}
.anchorPane{
    -fx-background-color: #003049;
}

.button {
    -fx-font-family: 'Raleway Medium';
    -fx-text-fill: #F6F4EE;
    -fx-font-size: 100%;
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 10;
    -fx-border: 0;
    -fx-background-color: linear-gradient(to bottom, #003049, #134074);
    /*-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #003049, #134074);*/

}